SUBSYSTEM=="tty", ATTRS{idProduct}=="{{ mobot_arduino_serial.id_product }}", ATTRS{idVendor}=="{{ mobot_arduino_serial.id_vendor }}", SYMLINK+="ttyUSB_ARDUINO"
SUBSYSTEM=="tty", ATTRS{idProduct}=="{{ mobot_lidar_serial.id_product }}", ATTRS{idVendor}=="{{ mobot_lidar_serial.id_vendor }}", SYMLINK+="ttyUSB_LIDAR"
